html, body {
    height: 100%;
    background-color: #E3fae9;
}

.footer { 
    width: 100%;
    min-height: 60px;
    background-color: #37393a;
    margin-top: 50px;
    padding-top: 20px;
    bottom: 0;
    margin-bottom: 0;
    padding-bottom: 5px;
}

.footer a {
    color: rgba(241, 246, 255, 0.788);
    text-decoration: none;
    font-size: 0.9rem;
}

.footer ul {
    list-style: none;
}

.footer p {
    color: lightgray;
    text-align: center;
    font-size: 0.9rem;
}

.header-img {
    background-image: url("../img/header.jpg");
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.header-txt {
    color: white;
    font-weight: bold;
}

.animal-card {
    border-radius: 4px;
    overflow: hidden;
    background-color: white;
}

.animal-img {
    height: 200px;
    max-width: 100%;
    object-fit: cover;
}

.animal-txt {
    padding: 1rem;
}

iframe {
    border: none; 
	padding-bottom: 10px;
}

.card {
	background-color: white;
}

.swell { 
    transition: all .2s ease-in-out; 
}

.swell:hover { 
    transform: scale(1.05); 
}

.expand { 
    transition: all .2s ease-in-out; 
}

.expand:hover { 
    transform: scale(1.1); 
}

.hero {
    background-image: url("../img/hero.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 75vh;
    width: 100%;
    color: white;
    position: relative;
}

.hero-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flex-break {
    flex-basis: 100%;
    height: 0;
}

.home-card {
    overflow: hidden;
    max-width: 60rem;
    padding-bottom: 3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.home-card img {
    max-width: 500px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

main {
    padding: 0px !important;
}

a {
    text-decoration: none;
    color: rgb(45, 129, 73);
}

.home-row {
    display:flex;
}